<p></p>
<div class="one">
<form action="">
    <label for="">name</label>
    <input type="text">
    <br>
    <br>
    <label for="">Age</label>
    <input type="number">
    <br>
    <br>
    <label for="">Adress</label>
    <input type="text">
    <br>
    <br>
    <label for="">phone no</label>
    <input type="number">
    <br>
    <br>
    <label for="">Gender</label>
    <input type="radio" name="Gender" value="Male">male
    <input type="radio" name="Gender" value="FeMale" >female
    <input type="radio" name="Gender" value="transgender" >transgender
    <br>
    <br>
    <label for="">date of birth</label>
    <input type="date">
    <br>
    <br>
    <label for="">educational qualification</label>
    <input type="text">
    <br>
    <label for="">maritial status</label>
    <input type="checkbox">single
    <input type="checkbox">married
    <br>
    <br>
    <label for="">username</label>
    <input type="text">
    <br>
    <br>
    <label for="">password</label>
    <input type="password">
    <br>
    <br>
    <label for="">confirm password</label>
    <input type="password">
    <br>
    <br>
    <button> Submit</button>
</form>
</div>